* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*?*/

body {
    background-image: url("assets/background.png");
    background-size: 150%;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
#gameboard {
    height: 860px;
    width: 860px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 5px;

    background-image: url("assets/ground.png");
    background-size: cover;

    transform: translateX(0);
    transition: transform 1s ease;
    z-index: -1;
}

.carre {
    width: 100px;
    height: 100px;
}

.banner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    width: 60%;
}

.banner.visible {
    transform: translateX(-50%) translateY(-10%); /* slides down, stays centered */
}

.banner img {
    width: 100%;
    display: block;
}

.play-btn {
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 47%;
    border-radius: 50%;
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}
.play-btn.hidden {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
}
.play-btn:hover {
    background: rgba(201, 162, 39, 0.3);
}

.img-wrap {
    position: absolute; /*fassed layout ma 3adch chy dhaher ?*/
    opacity: 0;
    transform: translateY(-40px); /* starts above */
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}

.img-wrap.visible {
    opacity: 1;
    transform: translateY(0); /* slides to normal position */
}

.img-wrap img {
    width: 320px;
    height: 320px;
    display: block;
}
